.xebra {
    background-color: #000000;
}

body {
    background-color: #000000;
}

.xebra__header {
    color: #FFFFFF;
    font-size: 36px;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #7F1BD1;
    padding: 0 20px;
    border-radius: 10px;
}

.xebra__title {
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

