@font-face {
    font-family: 'Ailerons';
    src: url('../fonts/Ailerons-Typeface.otf');
}

html,
body,
main {
    height: 100%;
}

.xebra {
    background-color: #FFFFFF;
    display: flex;
}

.logo__container {
    margin: 0 auto;
}

.logo__container:before {
    font-family: 'Ailerons';
}

.logo__container:after {
    font-family: 'Ailerons';
}

body {
    background-color: #FFFFFF;
}

.main {
    display: inline-block;
}

@media (min-width: 801px) {

    .xebra {
        align-items: center;
    }

    .logo__container {
        width: 800px;
        height: 120px;
        display: flex;
        justify-content: center;
    }

    .logo__image {
        flex-basis: 170px;
    }

    .logo__container:before {
        font-size: 90px;
        content: "Xebra";
    }

    .logo__container:after {
        font-size: 90px;
        content: "Labs";
    }
}

@media (max-width: 800px) {
    .logo__image {
        display: block;
        margin: 0 auto;
        padding-top: 20px;
        width: 140px;
    }

    .logo__container:before {
        font-size: 60px;
        content: "Xebra Labs";
        display: block;
    }
}
